body {
    margin: 0;
    font-size: 1.1em;
    overflow-x: hidden;
    font-family: 'Lora', serif;
}

.site-width {
    max-width: 1000px;
    margin: 0 auto;
}

a {
    color: #087209;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.title {
    font-size: 1.3em;
    text-align: center;
}

img {
    width: 270px;
    float: right;
    max-width: 100%;
    margin-top: 25px;
}

#about-me {
    margin-top: 100px;
}

#serv {
    margin-top: 100px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    margin-top: 50px;
}

#work {
    margin-top: 100px;
}

.flex-item {
    width: 40%;
}

h3 {
    text-align: center;
}

iframe {
    float: right;
    width: 300px;
    height: 180px;
}

form {
    margin: 40px auto;
    width: 500px;
    height: 270px;
    text-align: center;
    border-radius: 15px;
}

#message {
    height: 100px;
}

input[type="text"],
input[type="email"],
textarea[placeholder="Повідомлення"] {
    width: 240px;
    height: 35px;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.button input {
    padding: 13px 15px;
    margin: 5px 0px 20px 0px;
    font-size: 15px;
    border-radius: 15px;
}

.button input:hover {
    transition: all 0.5s;
    background: #5dbae2;
    color: #111212;
    font-size: 18px;
}

footer {
    margin-top: 100px;
}

.adres {
    margin-top: 50px;
}

.list {
    margin-top: 150px;
}

.myform {
    margin-top: 50px;
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 1.6em;
    }
}

@media screen and (max-width: 768px) {
    .flex-item {
        width: 100%;
    }
    .flex-container-nav {
        display: flex;
        flex-wrap: wrap;
    }
    .flex-elements {
        text-align: center;
        transition: none;
        color: #ffffff;
        font-size: 20px;
        text-decoration: none;
        padding: 0;
        margin: 0;
    }
    .flex-elements:hover {
        background-color: #ffffff;
        color: #EEA200;
    }
    img {
        width: 50%;
    }
    body {
        text-align: center;
    }
    .site-width {
        padding: 0;
    }
    form {
        max-width: 300px;
        height: 260px;
    }
    iframe {
        width: 90%;
        float: none;
    }
    #done {
        margin-top: 15px;
    }
}

@media screen and (max-width: 414px) {
    body {
        font-size: 1.1em;
    }
    body::-webkit-scrollbar {
        display: none;
    }
    ul {
        padding: 0px;
    }
    img {
        width: 100%;
    }
    .flex-container-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .flex-container-nav .flex-element li {
        padding: 24px 0px;
    }
}

@media screen and (max-width: 375px) {
    .flex-elements #about-me {
        width: 80px;
    }
    #text,
    #email,
    #message {
        max-width: 300px;
    }
    #serv {
        margin-top: 75px;
    }
    .flex-container-nav .flex-element li {
        padding: 24px;
    }
}

@media screen and (min-width: 320px) {}
