@import url(https://fonts.googleapis.com/css?family=Raleway); body {
    margin: 0;
    overflow-x: hidden;
}

nav {
    padding: 0 24px;
    text-align: center;
    font-family: Raleway;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.flex-container-nav {
    background: #EEA200;
}

.flex-element {
    margin: 0;
}

.flex-element li {
    display: inline-flex;
    transition: 0.4s;
    color: #ffffff;
    font-size: 23px;
    text-decoration: none;
    padding: 24px 10px;
    margin: 0 25px;
}

.flex-element li:hover {
    background-color: #ffffff;
    color: #EEA200;
    padding: 24px 10px;
}